In [49]:
import os
import pandas as pd


cwd = os.getcwd().replace("\\", "/")

In [50]:
df = pd.read_csv(cwd+"/data/all_labels.csv")
df2 = df.sample(frac=1, random_state=0)

In [51]:
rows, columns = df2.shape

dev_size = 5500
test_size = 5500
train_size = rows - dev_size - test_size
print(train_size, dev_size, test_size)

209025 5500 5500

In [56]:
df_train = df2.iloc[: train_size]
df_dev = df2.iloc[train_size: train_size+dev_size]
df_test = df2.iloc[train_size+dev_size:]

print(df_train.shape, df_dev.shape, df_test.shape)

(209025, 2) (5500, 2) (5500, 2)

In [57]:
df_train.describe()

               label
count  209025.000000
mean        0.404851
std         0.490864
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [58]:
df_dev.describe()

             label
count  5500.000000
mean      0.417273
std       0.493154
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [59]:
df_test.describe()

             label
count  5500.000000
mean      0.399636
std       0.489868
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [60]:
df_train.to_csv(cwd+"/data/train_labels.csv", index=None)

In [61]:
df_dev.to_csv(cwd+"/data/dev_labels.csv", index=None)

In [62]:
df_test.to_csv(cwd+"/data/test_labels.csv", index=None)